h1 {
  margin: 62px auto 0px;
  text-align: center;
}
.container {
  width: 470px;
  height: 596px;
  margin: 154px auto;
  border-radius: 40px;
  border: 1px solid #e4e4e4;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
}
.container img {
  display: block;
  margin: 51px auto 0;
  width: 80px;
  height: 84.47px;
}
.title {
  margin: 16px auto 63px !important;
}

input {
  width: calc(100% - 60px);
  margin: 0 25px 16px 35px;
  height: 53px;
  border-radius: 15px;
  background-color: #f2f2f2;
  border: none;
  direction: rtl;
}
input::placeholder {
  padding-right: 10px;
}
button {
  margin: 19px 25px 19px 35px;
  width: calc(100% - 60px);
  background-color: #55a3f0;
  color: #ffffff;
  height: 53px;
  border: none;
  border-radius: 15px;
  align-content: center;
}

a {
  direction: rtl;
  text-decoration: none;
  color: #3a8bed;
  margin-right: 30px;
}
